.award{
    color:#cc4400;
    font-family:Helvetica;
}


.container{
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "image content";
    gap:15px;

}

.container > div.image {
    grid-area: image;
  }

.container > div.content {
grid-area: content;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }
  .gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .gallery-item img:hover {
    transform: scale(1.05);
  }

  .link-text {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  .link-text:hover {
    color: #000;
  }


  .link-text::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.link-text:hover::before {
    transform: scaleX(1);
  }